apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "zookeeper.fullname" . }}
  labels:
    {{- include "zookeeper.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  serviceName: {{ include "zookeeper.fullname" . }}
  selector:
    matchLabels:
      {{- include "zookeeper.selectorLabels" . | nindent 6 }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "zookeeper.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "zookeeper.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
      - name: {{ .Chart.Name }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 12 }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
          - name: zk-client
            containerPort: 2181
            protocol: TCP
          - name: zk-ensemble
            containerPort: 2888
            protocol: TCP
          - name: zk-election
            containerPort: 3888
            protocol: TCP
          - name: http
            containerPort: 8080
            protocol: TCP
        livenessProbe:
          httpGet:
            path: /commands/ruok
            port: http
        readinessProbe:
          httpGet:
            path: /commands/ruok
            port: http
        envFrom:
        - configMapRef:
            name: {{ template "zookeeper.fullname" . }}
        resources:
            {{- toYaml .Values.resources | nindent 10 }}
        volumeMounts:
        - name: zk-pvc
          mountPath: /opt/radiantone/rli-zookeeper-external
        # command: ["/bin/sh","-c"]
        # args: ["/opt/radiantone/run.sh"]
{{- if .Values.metrics.enabled }}
        command: ["/bin/sh","-c"]
        args:
          - |
            /opt/radiantone/run.sh &
            # check nc installed
            if rpm -qa | grep -i nmap-ncat; then :; else
              yum install -y nc;
            fi
            # check mntr
            if echo mntr | nc localhost 2181 | grep "not in the whitelist"; then
              until nc -w 2 -z localhost 2181; do echo Waiting for zk -- 2181;sleep 10; done;echo \"zk is up!\"
              echo "4lw.commands.whitelist=ruok,mntr" >> /opt/radiantone/rli-zookeeper-external/zookeeper/conf/zoo.cfg
              /opt/radiantone/rli-zookeeper-external/bin/stop_zookeeper.sh
              /opt/radiantone/run.sh
            fi
{{- else }}
        command: ["/bin/sh","-c"]
        args: ["/opt/radiantone/run.sh"]
{{- end }}
{{- if .Values.metrics.enabled }}
      - name: {{ .Chart.Name }}-exporter
        image: {{ .Values.metrics.image }}:{{ .Values.metrics.imageTag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        resources:
          limits:
            cpu: 1000m
            memory: 1Gi
          requests:
            cpu: 100m
            memory: 128Mi
        ports:
        - containerPort: 9095
          name: exporter
        volumeMounts:
        - name: zk-pvc
          mountPath: /opt/radiantone/rli-zookeeper-external
        securityContext:
          runAsUser: 0
        env:
        - name: ZK_CONN
          value: {{ .Values.metrics.zk_conn | quote }}
        - name: PUSH_MODE
          value: {{ .Values.metrics.pushMode | quote }}
        - name: PUSHGATEWAY_URI
          value: {{ .Values.metrics.pushGateway | quote }}
{{- if hasKey .Values.metrics.fluentd "enabled" }}
{{- if .Values.metrics.fluentd.enabled }}
        - name: FLUENTD_ENABLE
          value: {{ .Values.metrics.fluentd.enabled | quote }}
        - name: FLUENTD_CONF
          value: {{ .Values.metrics.fluentd.configFile | quote }}
        - name: ELASTICSEARCH_HOST
          value: {{ .Values.metrics.fluentd.elasticSearchHost | quote }}
{{- end }}
{{- end }}    
{{- end }} 
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- if .Values.persistence.enabled }}
  volumeClaimTemplates:
  - metadata:
      name: zk-pvc
      annotations:
      {{- range $key, $value := .Values.persistence.annotations }}
        {{ $key }}: {{ $value }}
      {{- end }}
      labels:
        {{- include "zookeeper.labels" . | nindent 8 }}
    spec:
      accessModes:
      {{- range .Values.persistence.accessModes }}
      - {{ . | quote }}
      {{- end }}
      resources:
        requests:
          storage: {{ .Values.persistence.size | quote }}
      {{- if .Values.persistence.storageClass }}
      {{- if (eq "-" .Values.persistence.storageClass) }}
      storageClassName: ""
      {{- else }}
      storageClassName: "{{ .Values.persistence.storageClass }}"
      {{- end }}
      {{- end }}
{{- else }}
      volumes:
      - name: zk-pvc
        emptyDir: {}
{{- end }}
