apiVersion: v2
name: common-services
description: A Helm chart for deploying RadiantOne Common Services on Kubernetes

# Chart Type
# ----------
# This is an "application" chart, meaning it bundles together multiple Kubernetes resources to deploy a complete application.
type: application

# Chart Version
# -------------
# This version should be incremented following Semantic Versioning (https://semver.org/) whenever the chart's structure or templates change.
version: 1.0.10

# Application Version (Informational)
# -----------------------------------
# This represents the version of the RadiantOne Common Services software itself, not the Helm chart version.
# Follow Semantic Versioning (https://semver.org/)
appVersion: "2.0"

# Required Kubernetes Version
# --------------------------
# Specifies the minimum Kubernetes version needed for this chart to function correctly.
kubeVersion: ">=1.24.0-0"

# Chart Maintainers (Optional)
# ----------------------------
# List the people or teams responsible for maintaining and supporting this Helm chart.
maintainers:
  - name: pgodey
    email: pgodey@radiantlogic.com
    url: https://www.radiantlogic.com

# Chart Dependencies
# ------------------
# List the Helm charts that this chart depends on to function.  Each dependency includes:
#   - name: The name of the dependency chart.
#   - version: The version of the dependency chart to use.
#   - repository: The Helm repository where the dependency chart can be found.
#   - condition: A conditional expression that determines whether the dependency is to be enabled or not.
dependencies:
- name: argo-cd
  version: 7.8.0 # 5.6.0
  repository: https://argoproj.github.io/argo-helm
  condition: argo-cd.enabled
- name: prometheus
  version: 19.7.0 # 15.13.0
  repository: https://prometheus-community.github.io/helm-charts
  condition: prometheus.enabled
- name: grafana
  version: 8.10.0 # 6.40.0
  repository: https://grafana.github.io/helm-charts
  condition: grafana.enabled
- name: elasticsearch
  version: 7.17.3
  repository: https://helm.elastic.co
  condition: elasticsearch.enabled
- name: kibana
  version: 7.17.3
  repository: https://helm.elastic.co
  condition: kibana.enabled
- name: haproxy
  version: 1.24.0 # 1.17.3
  repository: https://haproxytech.github.io/helm-charts
  condition: haproxy.enabled
- name: postgresql
  version: 12.1.3
  repository: https://charts.bitnami.com/bitnami
  condition: postgresql.enabled
- name: zookeeper
  version: 11.0.0
  repository: https://charts.bitnami.com/bitnami
  condition: zookeeper.enabled
- name: pgadmin4
  version: 1.13.8
  repository: https://helm.runix.net
  condition: pgadmin4.enabled
- name: opensearch
  version: 2.16.1
  repository: https://opensearch-project.github.io/helm-charts
  condition: opensearch.enabled
- name: opensearch-dashboards
  version: 2.14.0
  repository: https://opensearch-project.github.io/helm-charts
  condition: opensearch-dashboards.enabled
- name: fluent-bit
  version: 0.48.0 # 0.39.0
  repository: https://fluent.github.io/helm-charts
  condition: fluent-bit.enabled
- name: velero
  version: 8.6.0 # 8.0.0
  repository: https://vmware-tanzu.github.io/helm-charts
  condition: velero.enabled
- name: cloudnative-pg
  repository: https://cloudnative-pg.github.io/charts
  version: 0.21.4
  condition: cloudnative-pg.enabled
