apiVersion: v2
name: common-services
description: A Helm chart for RadiantOne Common Services on Kubernetes

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 1.0.7

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
appVersion: "1.2"
kubeVersion: ">=1.24.0-0"
maintainers:
  - name: pgodey
    email: pgodey@radiantlogic.com
    url: https://www.radiantlogic.com

dependencies:
- name: argo-cd
  version: 5.6.0
  repository: https://argoproj.github.io/argo-helm
  condition: argo-cd.enabled
- name: prometheus
  version: 15.13.0
  repository: https://prometheus-community.github.io/helm-charts
  condition: prometheus.enabled
- name: grafana
  version: 6.40.0
  repository: https://grafana.github.io/helm-charts
  condition: grafana.enabled
- name: elasticsearch
  version: 7.17.3
  repository: https://helm.elastic.co
  condition: elasticsearch.enabled
- name: kibana
  version: 7.17.3
  repository: https://helm.elastic.co
  condition: kibana.enabled
- name: haproxy
  version: 1.17.3
  repository: https://haproxytech.github.io/helm-charts
  condition: haproxy.enabled
- name: postgresql
  version: 12.1.3
  repository: https://charts.bitnami.com/bitnami
  condition: postgresql.enabled
- name: zookeeper
  version: 11.0.0
  repository: https://charts.bitnami.com/bitnami
  condition: zookeeper.enabled
- name: pgadmin4
  version: 1.13.8
  repository: https://helm.runix.net
  condition: pgadmin4.enabled
- name: opensearch
  version: 2.16.1
  repository: https://opensearch-project.github.io/helm-charts
  condition: opensearch.enabled
- name: opensearch-dashboards
  version: 2.14.0
  repository: https://opensearch-project.github.io/helm-charts
  condition: opensearch-dashboards.enabled
- name: fluent-bit
  version: 0.39.0
  repository: https://fluent.github.io/helm-charts
  condition: fluent-bit.enabled
- name: velero
  version: 5.2.2
  repository: https://vmware-tanzu.github.io/helm-charts
  condition: velero.enabled
