{{- if eq .Values.curator.enabled true }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "elasticsearch-curator.fullname" . }}
data:
  action_file.yml: |-
    actions:
      {{- range $index, $log := .Values.curator.logs }}
      {{ add1 $index }}:
        action: {{ $log.action | default "delete_indices" }}
        description: "{{ $log.description | default "Action based on configurations" }}"
        options:
          delete_aliases: {{ $log.delete_aliases | default false }}
          skip_flush: {{ $log.skip_flush | default false }}
          ignore_empty_list: {{ $log.ignore_empty_list | default true }}
          ignore_sync_failures: {{ $log.ignore_sync_failures | default false }}
          timeout_override: {{ $log.timeout_override | default "" }}
          continue_if_exception: {{ $log.continue_if_exception | default false }}
          disable_action: {{ $log.disable_action | default false }}
        filters:
          - filtertype: "pattern"
            kind: {{ $log.kind | default "prefix" }}
            value: {{ if eq $log.action "delete_indices" }}{{ $log.name }}{{ else }}{{ $log.value | default $log.name }}{{ end }}
            exclude: {{ $log.exclude | default false }}
          - filtertype: "age"
            source: {{ $log.source | default "name" }}
            timestring: {{ $log.timestring | default "'%Y.%m.%d'" }}
            unit: {{ $log.unit | default "days" }}
            unit_count: {{ $log.unit_count | default 7 }}
            direction: {{ $log.direction | default "older" }}
      {{- end }}
  config.yml: |-
    client:
      hosts: ["{{ .Values.curator.client.hosts | default "elasticsearch-master" }}"]
      port: {{ .Values.curator.client.port | default 9200 }}
      use_ssl: {{ .Values.curator.client.use_ssl | default false }}
      ssl_no_validate: {{ .Values.curator.client.ssl_no_validate | default true }}
      timeout: {{ .Values.curator.client.timeout | default 300 }}
      certificate: "{{ .Values.curator.client.certificate | default "" }}"
      client_cert: "{{ .Values.curator.client.client_cert | default "" }}"
      client_key: "{{ .Values.curator.client.client_key | default "" }}"
      username: "{{ .Values.curator.client.username | default "" }}"
      password: "{{ .Values.curator.client.password | default "" }}"
      master_only: {{ .Values.curator.client.master_only | default false }}
    logging:
      loglevel: "{{ .Values.curator.logging.loglevel | default "INFO" }}"
      logfile: "{{ .Values.curator.logging.logfile | default "" }}"
      logformat: "{{ .Values.curator.logging.logformat | default "default" }}"
      blacklist: ["elasticsearch", "urllib3"]
{{- end }}
